.level0 { border: 1px solid #606060; }
.level1 { border: 1px solid #008000; }
.level2 { border: 1px solid #2040ff; }
.level3 { border: 1px solid #8000c0; }
.level4 { border: 1px solid #804020; }

td.sidebar { padding-left: 10px; border-left: 1px solid #808080; }
