body { background: white; color: black; }
body, td { font-family: lucida, helvetica, sans-serif; }

.level0 { background: #c1c1c1; }
.level1 { background: #c0ffc8; }
.level2 { background: #c0d0ff; }
.level3 { background: #e0d0ff; }
.level4 { background: #e0d0c0; }

.level0 { border: 1px solid #606060; }
.level1 { border: 1px solid #008000; }
.level2 { border: 1px solid #2040ff; }
.level3 { border: 1px solid #8000c0; }
.level4 { border: 1px solid #804020; }

td.sidebar { padding-left: 10px; border-left: 1px solid #808080; }

div.level0, div.level1, div.level2, div.level3, div.level4 {
	padding: 1px;
	margin: 0px 0px 3px 0px;
}

h2 { padding: 3px; }
h4 { padding: 2px; font-weight: normal; }
