<?xml version="1.0"?>
<config>
  <name>Example mod_virgule Sitename</name>
  <baseuri>http://www.yourdomain.com/</baseuri>
  <adminemail>webmaster@yourdomain.com</adminemail>
  <diaryrating>off</diaryrating>
  <accountcreation>on</accountcreation>
  <accountextendedcharset>off</accountextendedcharset>
  <accountspamthreshold>15</accountspamthreshold>
  <recentlogstyle>Unique</recentlogstyle>
  <articlepostbyseedsonly>off</articlepostbyseedsonly>
  <articletitlelinks>off</articletitlelinks>
  <articletitlesize>80</articletitlesize>
  <articledays2edit>30</articledays2edit>
  
  <articletopics>off</articletopics>
  <topics>
    <topic url="/path/to/default/image1.png">Description 1</topic>
    <topic url="/path/to/default/image2.png">Description 2</topic>
  </topics>

  <sitemap>
    <option url="/">Home</option>
    <option url="/article/">Articles</option>
    <option url="/acct/">Account</option>
    <option url="/person/">People</option>
    <option url="/proj/">Projects</option>
  </sitemap>

  <levels>
    <level>Observer</level>
    <level>Apprentice</level>
    <level>Journeyer</level>
    <level>Master</level>
  </levels>

  <articlepost>Apprentice</articlepost>
  <articlereply>Apprentice</articlereply>
  <projectcreate>Apprentice</projectcreate>
  <blogsyndicate>Apprentice</blogsyndicate>

  <seeds>
    <seed>miguel</seed>
    <seed>raph</seed>
    <seed>federico</seed>
    <seed>alan</seed>
  </seeds>

  <caps>
    <cap>800</cap>
    <cap>200</cap>
    <cap>50</cap>
    <cap>12</cap>
    <cap>4</cap>
    <cap>2</cap>
    <cap>1</cap>
  </caps>

  <translations>
    <translate from="person" to="human" />
    <translate from="people" to="humans" />
    <translate from="Person" to="Human" />
    <translate from="People" to="Humans" />
    <translate from="a person" to="a human" />
  </translations>

  <specialusers>
    <specialuser>advogato</specialuser>
  </specialusers>

  <allowedtags>
    <tag>
      <name>a</name>
      <allowedattributes>
        <attribute>href</attribute>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>b</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>blockquote</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>br</name>
      <canbeempty>yes</canbeempty>
    </tag>
    <tag>
      <name>cite</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>div</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>em</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>i</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>li</name>
      <canbeempty>yes</canbeempty>
    </tag>
    <tag>
      <name>ol</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>p</name>
      <canbeempty>yes</canbeempty>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>pre</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>strong</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>tt</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>ul</name>
      <allowedattributes>
        <attribute>style</attribute>
      </allowedattributes>
    </tag>
    <tag>
      <name>person</name>
    </tag>
    <tag>
      <name>proj</name>
    </tag>
    <tag>
      <name>wiki</name>
    </tag>
  </allowedtags>

  <googleanalytics></googleanalytics>

</config>
